@model DaigApplication.Models.AuthAdmin

@{
    ViewData["Title"] = "Create";
}

<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
        }

        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Taste The Best <br />
                    <span style="color: hsl(218, 81%, 75%)">CUISINE</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Join us today and experience the best in catering services! Whether you're planning a wedding, corporate event, or any special occasion, our expert team is here to make your event unforgettable. Sign up now to customize your menu, receive personalized service, and enjoy a seamless catering experience that exceeds your expectations. Let us bring your vision to life with delicious food, impeccable service, and attention to detail.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <!-- 2 column grid layout with text inputs for the first and last names -->                
                                
                            <div data-mdb-input-init class="form-outline  mb-4">
                                <label class="form-label" for="form3Example3">Admin Name</label>
                                <input asp-for="Usernameis" id="form3Example1" class="form-control" />
                                <span asp-validation-for="Usernameis" class="text-danger"></span>
                            </div>

                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">Email address</label>
                                <input asp-for="Emailis" id="form3Example3" class="form-control" />
                                <span asp-validation-for="Emailis" class="text-danger"></span>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form3Example4">Password</label>
                                <input asp-for="Passwordis" class="form-control" />
                                <span asp-validation-for="Passwordis" class="text-danger"></span>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                            </div>

                            <!-- Submit button -->
                            
                            <div class="text-center my-4">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                                    Sign up
                                </button>
                                </div>
                            <!-- Register buttons -->
                            <div class="text-center my-4">
                                <p class="mb-3">Or sign up with:</p>
                                <div>
                                    <a href="index" class="btn btn-primary">Back to Login</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
